@charset "utf-8";


.alert-bg-div {
    position: absolute;
    background: #E8E8E8;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 10000;
}

.alert-msg-div {
    position: fixed;
    background: rgb(230, 222, 222);
    text-align: center;
    border: 1px solid rgb(119, 172, 241);
    line-height: 25px;
    top: 30%;
    left: 30%;
    font: 12px/1.6em Verdana, Geneva, Arial, Helvetica, sans-serif;
    z-index: 10001;
}

.alert-title-div {
    margin: 0;
    text-align: left;
    padding: 5px;
    background: rgb(119, 172, 241);
    opacity: 0.75;
    border: 2px solid rgb(119, 172, 241);
    height: 25px;
    font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: white;
}

.alert-msg-body {
    margin: 16px 0;
    font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.alert-btn {
    margin: 20px;
    padding: 5px;
    width: 80px;
    font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.alert-btn-enable {
    background: rgb(40, 121, 228);
}

.alert-btn-disable {
    background: rgb(165, 158, 158);
    cursor: not-allowed;
}